<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/indexloggedin">Mysql Project</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/indexloggedin">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/updatepassword">Update password</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/deleteacc">Delete account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/proflink">Profile</a>
      </li>
    </ul>
  </nav>