<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <header>
        <%- include('../partials/headerloggedin'); %>
    </header>
    <hr>
    <br>
            <h1>You are logged in!</h1> 
            <br>
            <hr>
            <div style="display:inline-block">
            <image src="https://media.istockphoto.com/photos/mountain-landscape-picture-id517188688?b=1&k=20&m=517188688&s=612x612&w=0&h=x8h70-SXuizg3dcqN4oVe9idppdt8FUVeBFemfaMU7w=" class="img-thumbnail" style="width:50vh; height:30vh; border-width: 3px; border-color:black;">
            <figcaption class="font-weight-lighter text-center">Mountains</figcaption>
            </div>
            <div style="display:inline-block">
            <image src="https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072821__480.jpg" class="img-thumbnail" style="width:50vh; height:30vh; border-width: 3px; border-color:black; display:inline-flex;">
            <figcaption class="font-weight-lighter text-center">Autumn</figcaption>
            </div>
            <div style="display:inline-block">
            <image src="https://www.stockvault.net/data/2009/07/22/109588/thumb16.jpg" class="img-thumbnail" style="width:50vh; height:30vh; border-width: 3px; border-color:black; display:inline-flex;">
            <figcaption class="font-weight-lighter text-center">Nature</figcaption>
            </div>
            <div style="display:inline-block">
            <image src="https://st2.depositphotos.com/5070571/8329/i/450/depositphotos_83292974-stock-photo-huay-mae-kamin-waterfall-national.jpg" class="img-thumbnail" style="width:50vh; height:30vh; border-width: 3px; border-color:black; display:inline-flex;">
            <figcaption class="font-weight-lighter text-center">River</figcaption>
            </div>
            <hr>
            <br>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
   
</body>
</html>