<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <header>
        <%- include('../partials/headerloggedin'); %>
    </header>
    <hr>
    <br>
    You sucessfully updated your password
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script src="../../app.js"></script>
</body>
</html>